* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family:  Arial, Helvetica, sans-serif;
}

body {
	margin: auto 5px;
}

h1 {
	margin-bottom: 35px;
	margin-top: 25px;
	font-size: 1.75em;
	text-align: center;
}

section {
	background-color: gray;
	position: relative;
	margin: 10px;
	border: 1px solid black;
}

p.title {
	position : absolute;
	border: 1px solid black;
	text-align: center;
	top: 0%;
	right: 0%;
	width: 25%;
	font-size: 1.25em;
}

/* Coloring the section titles
 */
#t1 {background-color: lightgreen;}
#t2 {background-color: lightblue;}
#t3 {background-color: pink;}

p.content {
	margin-top: 1.25em;
	padding : 1em;
}

.row {
	width: 100%;
}

/* Desktop view */
@media (min-width: 992px) {
	.col-desktop-4 {
		float: left;
		width: 33.33%;
	}
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
	.col-tablet-6, .col-tablet-12 {
		float: left;
	}

	.col-tablet-6 {
		width: 50%;
	}

	.col-tablet-12 {
		width: 100%;
	}
}

/* Mobile view */
@media (max-width: 767px) {
	.col-mobile-12 {
		width: 100%;
		float: left;
	}
}
